<!DOCTYPE html>
<html>

<head>
    <title>Gestion de comptes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="img/RT-logo.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8" />

</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-lg-1"><img id="logo" src="img/RT-logo.png" alt="logo"></div>
                <div class="col-lg-3">
                    <h1>Gestion de comptes</h1>
                </div>
            </div>
        </header>
        <nav>
            <div class="navba">
                <a href="/"><i class="fa fa-fw fa-home"></i> Accueuil</a>
                <a href="formulaire"><i class="fa fa-user-plus"></i> Nouveau utilisateur</a>
                <a href="users"><i class="fa fa-users"></i> Liste utlisateurs</a>
                <a href="apropos" class="active"><i class="fa fa-info-circle"></i> A propos</a>
            </div>
        </nav>
        <main>
            <div class="container">
                <div class="row  apropos">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <h1>A PROPOS DU PROJET</h1>
                        <div class="row">
                            <div class="col-lg-6">Titre</div>
                            <div class="col-lg-6">Gestion de compte</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">Réalisé par</div>
                            <div class="col-lg-6">Rim Chakroun</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">Description</div>
                            <div class="col-lg-6">Développement d'une api user ...</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">Framework</div>
                            <div class="col-lg-6">
                                <ul>
                                    <li>Node.js</li>
                                    <li>Express</li>
                                    <li>EJS</li>
                                    <li>Bootstrap</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">Lieu</div>
                            <div class="col-lg-6">Simplon Nanterre</div>
                        </div>

                    </div>
                    <div class="col-lg-4"></div>
                </div>


            </div>
        </main>
        <footer>&copy;2019 Tous les droits sont reservés</footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>