<!DOCTYPE html>
<html>

<head>
    <title>Gestion des comptes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="img/RT-logo.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8" />
    <style>

    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-lg-1"><img id="logo" src="img/RT-logo.png" alt="logo"></div>
                <div class="col-lg-3">
                    <h1>Gestion de comptes</h1>
                </div>
            </div>


        </header>
        <nav>
            <div class="navba">
                <a href="/"><i class="fa fa-fw fa-home"></i> Accueuil</a>
                <a class="active" href="formulaire"><i class="fa fa-user-plus"></i> Nouveau utilisateur</a>
                <a href="users"><i class="fa fa-users"></i> Liste utlisateurs</a>
                <a href="apropos"><i class="fa fa-info-circle"></i> A propos</a>
            </div>
        </nav>
        <main>
            <div class="row">
                <div class="col-lg-6">
                    <form method="POST" action="/users" class="needs-validation" novalidate>
                        <div class="form-row">

                            <div class="col-lg-12">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" value=""
                                    required>
                                <div class="invalid-feedback">
                                    Veuillez saisir votre Nom
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-lg-12 ">
                                <label for="prenom">Prénom</label>
                                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom"
                                    value="" required>
                                <div class="invalid-feedback">
                                    Veuillez saisir votre Prénom!
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-lg-12">
                                <label for="ville">Ville</label>
                                <input type="text" class="form-control" id="ville" name="ville" placeholder="Ville"
                                    required>
                                <div class="invalid-feedback">
                                    Veuillez preciser votre ville!
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <label for="codepostal">Code Postal</label>
                                <input type="number" class="form-control" id="codepostal" name="codepostal" min="10000"
                                    max="99999" required>
                                <div class="invalid-feedback">
                                    Code postal obligatoire
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Mot de passe" required>
                                <div class="invalid-feedback">
                                    Veuillez saisir un mot de passe
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btnconf" type="submit">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 newuser"><img id="newuser" src="img/user.png" alt="">
                    <h2>Nouveau compte</h2>
                </div>


            </div>

        </main>
        <footer>&copy;2019 Tous les droits sont reservés</footer>
    </div>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>

</html>