<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="img/RT-logo.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8" />
    <style>

    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-lg-1"><img id="logo" src="img/RT-logo.png" alt="logo"></div>
                <div class="col-lg-3">
                    <h1>Gestion de comptes</h1>
                </div>
            </div>


        </header>
        <nav>
            <div class="navba">
                <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Accueuil</a>
                <a href="formulaire"><i class="fa fa-user-plus"></i> Nouveau utilisateur</a>
                <a href="users"><i class="fa fa-users"></i> Liste utlisateurs</a>
                <a href="apropos"><i class="fa fa-info-circle"></i> A propos</a>
            </div>
        </nav>
        <main>
            <div class="container bienvenue">
                <span class="text1">Bienvenue sur Gestion de comptes </span>
                <img id="comptes" src="img/compres.png" alt="comptes">
                <span class="text2">Realisé par Rim & Tifaine</span>
            </div>
        </main>
        <footer>&copy;2019 Tous les droits sont reservés</footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>

</html>