<!DOCTYPE html>
<html>

<head>
    <title>Gestion des comptes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="img/RT-logo.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8" />
    <style>

    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-lg-1"><img id="logo" src="img/RT-logo.png" alt="logo"></div>
                <div class="col-lg-3">
                    <h1>Gestion de comptes</h1>
                </div>
            </div>
        </header>
        <nav>
            <div class="navba">
                <a href="/"><i class="fa fa-fw fa-home"></i> Accueuil</a>
                <a href="formulaire"><i class="fa fa-user-plus"></i> Nouveau utilisateur</a>
                <a class="active" href="users"><i class="fa fa-users"></i> Liste utlisateurs</a>
                <a href="apropos"><i class="fa fa-info-circle"></i> A propos</a>
            </div>
        </nav>
        <main>
            <h2>Liste des utilisateurs</h2>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Ville</th>
                        <th>Code postal</th>
                        <th>Mot de passe</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <% var ligne=0;
                    for (var i in resultat){%>
                    <tr>
                        <td><%=resultat[i].nom%></td>
                        <td><%=resultat[i].prenom%></td>
                        <td><%=resultat[i].ville%></td>
                        <td><%=resultat[i].codepostal%></td>
                        <td><%=resultat[i].password%></td>
                        <td><a class="supprimer" data-toggle="modal" data-target="#exampleModalLong"
                                href="/supprimer<%=ligne%>"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    êtes-vous sûr de vouloir supprimer le compte de:<br>
                                    <%=resultat[i].nom%>
                                    <%=resultat[i].prenom%> ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Annuler</button>
                                    <a href="/supprimer<%=ligne%>" class="btn btn-primary">Confirmer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% ligne++;}%>
                </tbody>
                <tfoot>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Mot de passe</th>
                    <th>Supprimer</th>
                </tfoot>
            </table>


            <!-- Modal -->

        </main>
        <footer>&copy;2019 Tous les droits sont reservés</footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "lengthMenu": "Affichage _MENU_ records par page",
                    "zeroRecords": "Aucun element trouvé - Désolé",
                    "info": "Affichage page _PAGE_ de _PAGES_",
                    "infoEmpty": "Aucun utilisateurs enregistré",
                    "infoFiltered": "(Filtré de _MAX_ enregistrement)",
                    "search": "Recherche",
                    "paginate": {
                        "next": "Suivant",
                        "previous": "Précédent"

                    }
                }
            });
        });
    </script>
</body>

</html>