main {
  background-color: white;
  padding: 1rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to top, rgb(195, 55, 100), rgb(29, 38, 113)) repeat scroll
    0% 0%;
}

header {
  color: white;
  margin-top: 1rem;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1rem;

  text-decoration-style: solid;
}

#logo {
  width: 5rem;
  height: 5rem;
}
h2 {
  font-size: 1.5rem;
  margin: 1rem;
  color: #ff0099;
}
nav {
  padding: 6rem;
  padding-bottom: 2rem;
}

.navba {
  width: 100%;

  overflow: auto;
}

.navba a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navba a:hover {
  color: #ff0099;
}

.container {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to top, rgb(195, 55, 100), rgb(29, 38, 113)) repeat scroll
    0% 0%;
}

table {
  background-color: white;
}

.active {
  color: #ff0099;
  border-bottom: 3px solid #7451eb;
}
footer {
  text-align: center;
  color: white;
  padding: 2rem;
}
@media screen and (max-width: 500px) {
  header {
    height: 0px;
  }

  nav {
    padding: 0rem;
  }

  .navba {
    width: 100%;
  }

  .navba a {
    float: none;
    display: block;
  }
}
/*Formulaire*/
form {
  padding-left: 5rem;
}
.btnconf {
  width: 100%;
  margin: 0.8rem 0;
}
.newuser {
  text-align: center;
}
/*Page index*/
.bienvenue {
  text-align: center;

  width: 100%;
}

.bienvenue span {
  display: block;
}

.text1 {
  font-weight: bolder;
  color: #ff0099;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
  animation: text 3s 1;
}

.text2 {
  font-size: 1.2rem;
  color: #871fa1;
}

@keyframes text {
  0% {
    color: #871fa1;
  }

  30% {
    letter-spacing: 2.8rem;
  }

  85% {
    letter-spacing: 0.6rem;
  }
}

#comptes {
  width: 20rem;
  height: 20rem;
}
.apropos {
  background-color: #210b4f;
  color: white;
  padding: 2rem;
}
.apropos h1 {
  color: #ff0099;
  margin-bottom: 1.5rem;
}
